<li data-sortable-id="<%= list.id %>">
  <%= turbo_frame_tag list do %>
    <p>
      <%= list.name %>
    </p>
    <% if list.cards.any? %>
      <ul>
        <% list.cards.rank(:row_order).each do |task| %>
          <li>
            <%= task.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</li>
