@import "fonts";
@import "colors";

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-family: $font;
  color: $gray;
}

body {
  background: $black;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: calc(min(100% - 3rem, 120ch));
  margin: 0 auto;
}
