@import "fonts";
@import "colors";

*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  min-height: 100vh;
}

html {
  font-family: $font;
  color: $gray;
}

body {
  background: $black;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: calc(min(100% - 3rem, 120ch));
  min-height: 100vh;
  margin-inline: auto;
  padding-top: calc(50px + 2em);
}
