@import "../config/colors";

.modal-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: $black;
  width: 500px;
  height: 500px;
}
