@import "../config/colors";

.workspaces {
  h3 { margin-top: 2em; }
}

// .project-cards {
//   margin-top: 1em;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1em;
// }

.project-cards {
  margin-top: 1em;
  display: grid;
  // Might have to change this
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.project-card {
  position: relative;
  background: $dark-gray;
  height: 100px;
  border-radius: 0.25em;
  padding: 0.75em;

  .project-card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.create-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
