@import "../config/colors";

.workspaces {
  h3 { margin-top: 2em; }
}

.project-cards {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.project-card {
  background: $dark-gray;
  width: 200px;
  height: 100px;
  border-radius: 0.25em;
  padding: 0.75em;
}
