<%= simple_form_for workspace, data: { turbo_frame: "_top" } do |f| %>
  <h1>Let's build a Workspace</h1>
  <%= f.input :name, label: "Workspace name", placeholder: "John's Co.", class: "modal-input" %>
  <%= f.submit value: "Continue", class: "btn-continue" %>
<% end %>
