<nav id="sidebar">
  <div>
    <p>Workspaces</p>
    <%= link_to new_workspace_path, data: { turbo_frame: "modal" }, class: 'btn-add-workspace' do %>
      <% icon('fa-solid', 'plus') %>
    <% end %>
  </div>
  <% if @workspaces.any? %>
    <ul>
      <% @workspaces.each do |w| %>
        <li class="nav-link">
          <%= w.name %>
          <%= icon('fa-solid', 'chevron-down') %>
        </li>
      <% end %>
    </ul>
  <% end %>
</nav>
