@import "config/colors";

@mixin hover () {
  transition: background 0.1s ease-out;

  &:hover {
    background: $black-hovered;
  }
}

#navbar {
  padding: 5px 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $black;
  border-bottom: 1px solid #32383E;
  font-size: 0.9em;

  a, i { color: $gray; }
}

#navbar ul {
  padding: 0;
}

li.nav-link {
  cursor: pointer;
  display: inline-block;
  padding: 10px 12px;
  border-radius: 5px;
  @include hover();
}

.subnav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn-action {
  padding: 10px 12px;
  border-radius: 5px;
  background: #579DFF;
  color: $black !important;
}

.logo {
  font: {
    weight: 900;
  }
}

.user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
